APP_NAME=AccessVault
APP_ENV=production
APP_KEY=base64:D7oTONfi9hsLbDSYExVU9XrvoTsQnKdJliuOate3z6g=
APP_DEBUG=false
APP_URL=https://ton-app.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=error

# Render fournit DATABASE_URL automatiquement
DATABASE_URL=
DB_CONNECTION=pgsql

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_DRIVER=file
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@accessvault.com"
MAIL_FROM_NAME="${APP_NAME}"